<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Third_Task::third" title="Third" sortOrder="51">
                    <resource id="Third_Task::task_faqs" title="All Faqs" sortOrder="10">
						<resource id="Third_Task::save" title="Save Faqs" translate="title" sortOrder="10" />
						<resource id="Third_Task::task_delete" title="Delete Faqs" translate="title" sortOrder="20" />
					</resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Third_Task::task_config" title="Third Task" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>