<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <third_task>
            <general>
                <enable>1</enable>
            </general>
            <storefront>
                <faqs_link>Faqs</faqs_link>
            </storefront>
        </third_task>
    </default>
</config>
